# ### GENERAL ###
DEBUG=True
SECRET_KEY=""
LANGUAGE_CODE=""
TIME_ZONE="America/Argentina/Catamarca"
USE_I18N=True
USE_TZ=True
INTERNAL_IPS=['127.0.0.1']
PROJECT_NAME="AgroTool"

# ### DATABASE ###
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DEFAULT_CHARACTER_SET=utf8

# ### CELERY ###
BROKER_URL=""
CELERY_RESULT_BACKEND=""