# ### GENERAL ###
DEBUG=

# ### DATABASE ###
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DEFAULT_CHARACTER_SET=utf8

# ### CELERY ###
BROKER_URL=amqp://guest:guest@rabbitmq//
CELERY_RESULT_BACKEND=""

# ### FLOWER ###
CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=

# ### WEATHERBIT ###
API_KEY=
CITY=