# ### GENERAL ###
DEBUG=True
SECRET_KEY="reciclads-#-&qipxt=#z@jb*l68&zhpk0m-^=lpp45z7u8l_kr^z#@)jsaf"
LANGUAGE_CODE=""
TIME_ZONE="America/Argentina/Catamarca"
USE_I18N=True
USE_TZ=True
INTERNAL_IPS=['127.0.0.1']
PROJECT_NAME="ReciclAds Desarrollo"

# ### DATABASE ###
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=reciclads_db
POSTGRES_USER=reciclads_user
POSTGRES_PASSWORD=reciclads_pass
POSTGRES_HOST=postgresql
POSTGRES_PORT=15432
POSTGRES_DEFAULT_CHARACTER_SET=utf8

# ### CELERY ###
BROKER_URL="redis://127.0.0.1:6379/0"
CELERY_RESULT_BACKEND="redis://127.0.0.1:6379"